page-modal {
    .header {
        background-color: #488aff;
    }
    .tm-ver-code input {
        text-align: center;
    }
    ion-content  {
        .item-ios {
            padding-left: 0;
            margin-bottom: 20px;
        }
    }
}
