app-content {
    color:inherit;

    background-color: white;

    .background-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: -1;
    }

    .app-background-image {
        height: inherit;
        width: 100%;
    }

}
