<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div class="header">
    <ion-label>{{"welcome"|translate}}</ion-label>
    <img class="event-logo" img-cache src="{{eventLogo}}" alt="Event's Logo">
</div>
<app-content>

<div style="height: 100%">

<ion-scroll class="sign-up-form" scrollY='true'>
    <ion-list>
        <ion-item class="form-input">
            <ion-select id="postal" style="margin-left:-1000px; " (ionchange)="coderesult()"  [(ngModel)]="form.countrycode" [ngModelOptions]="{standalone: true}">
                <ion-option  *ngFor="let key of countries" [value]="key.dial_code">{{key.dial_code}}: {{key.name}}</ion-option>
            </ion-select>
        </ion-item>
        <!-- <ion-item text-wrap *ngIf="recentUser != undefiend && recentUser != null">
            <ion-label> {{"login_recent"|translate}}: {{recentUser.email}} | {{"score"|translate}}: {{recentUser.score}}</ion-label>
        </ion-item> -->
        <!-- <ion-item class="form-input">
            <button id="submit-button" (click)="onRegisterNow()" ion-button outline>{{"register now"|translate}}</button>
        </ion-item>
        <ion-item class="form-input">
            <button id="submit-button" (click)="onPreRegistration()" ion-button outline>{{"pre_registration"|translate}}</button>
        </ion-item>
        <ion-item class="form-input" *ngIf="recentUser != undefiend && recentUser != null">
            <button id="submit-button" (click)="onReLogin()" ion-button outline>{{"login"|translate}}</button>
        </ion-item> -->
        <ion-item class="form-input">
            <ion-label>{{"event_id"|translate}}*</ion-label>
            <ion-input [(ngModel)]="form.event_id"></ion-input>
        </ion-item>
        <ion-item class="form-input">
            <ion-label>{{"name"|translate}}*</ion-label>
            <ion-input [(ngModel)]="form.name"></ion-input>
        </ion-item>
        <!-- <ion-item class="form-input">
            <ion-label>{{"passport"|translate}}</ion-label>
            <ion-input [(ngModel)]="form.identity_passport"></ion-input>
        </ion-item> -->
        <ion-item class="form-input">
            <ion-label>{{"email"|translate}}*</ion-label>
            <ion-input type="email" [(ngModel)]="form.email"></ion-input>
        </ion-item>
        <ion-item class="form-input">
            <ion-label>{{"phone"|translate}}*</ion-label>
            <ion-input type="text" (click)="selectcode()" value="{{form.countrycode}}" class="tm-countrycode"></ion-input>
            <ion-input type="tel" [(ngModel)]="form.mobile_number" class="tm-phone"></ion-input>
        </ion-item>
        <ion-item class="form-input">
            <ion-label>{{"gender"|translate}}</ion-label>
            <ion-input [(ngModel)]="form.gender" readonly (click)="showGenderSelection()"></ion-input>
        </ion-item>
        <ion-item *ngIf="extraFields != undefined && extraFields.length > 0">
            <ion-label class="subtitle">{{"others"|translate}}</ion-label>
        </ion-item>
        <ion-item class="form-input" *ngFor="let field of extraFields">
            <ion-label>{{field.name}}*</ion-label>
            <ion-input (input)="extraFieldInputChange($event.target.value, field.id)"></ion-input>
        </ion-item>
        <ion-item class="check-checkbox">
            <ion-checkbox class="checkbox" ng-checked="checked" (ionChange)="updateAcceptPrivacy()"></ion-checkbox>
            <ion-label (click)="onPrivacy()"><u>I Accept Privacy Policy</u></ion-label>
        </ion-item>

        <!-- <ion-item>
            <button id="submit-button" (click)="onSubmitForm()" ion-button outline>{{"check_in"|translate}}</button>
        </ion-item> -->
    </ion-list>
</ion-scroll>
</div>

<div class="footer">
    
    <button id="submit-button" class="MyApp.Style" (click)="onSubmitForm()"  ion-button outline>
        <!-- <ion-item>
            <ion-label> -->
                    {{"check_in"|translate}}
            <!-- </ion-label>
               
        </ion-item> -->
        
    </button>
                    
           
    <!-- </div> -->
    
    <!-- </ion-item> -->
    <!-- <img class="logo" src="assets/images/logo.png" alt="App's Logo"> -->
    
</div>
</app-content>