<ion-menu type="overlay" [content]="content">
    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon *ngIf="p.title == 'home'" name="home"></ion-icon>
                <ion-icon *ngIf="p.title == 'view_score'" name="ios-thumbs-up"></ion-icon>
                <ion-icon *ngIf="p.title == 'activities'" name="game-controller-b"></ion-icon>
                <ion-icon *ngIf="p.title == profileTabName" name="contact"></ion-icon>
                <ion-icon *ngIf="p.title == 'rate_us'" name="star"></ion-icon>
                <ion-icon *ngIf="p.title == 'change_language'" name="information-circle"></ion-icon>
                <ion-icon *ngIf="p.title == 'logout'" name="log-out"></ion-icon>
                {{p.title| translate}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false" [ngStyle]="{'color':appFontColor} " class="dinamic-class"></ion-nav>
